/* Move your styles here when you're ready to clean up your HTML file */
/* Don't forget to link to this file in your HTML, otherwise your styles won't show up! */
html {
  font-size: 17px;
}

h1, h2 {
  font-family: Garamond, ‘Hoefler Text’, ‘Times New Roman’, Times, serif;
}

header {
  border-bottom-style: dotted;
}

.class-list {
  list-style-type: square;
}

.item {
  border: 1px dashed fuchsia;
}

.even {
  background-color: grey;
}

#item1 {
  font-size: 30px;
}

#item2 {
  text-align: right;
}

#advanced-selectors ol > li {
  padding: 10%;
  background-color: grey;
}

#advanced-selectors ol > li:nth-child(2n+1) {
  background-color: green;
}

a[title="Bitmaker"]:hover {
  text-decoration: none;
}

li > a:hover {
  background-color: yellow;
}

li > a:active {
  background-color: red;
}
